# Conexión a PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/tablero_db?schema=public"

# Puerto del Servidor Backend Fastify
PORT=3001
HOST=0.0.0.0

# Autenticación JWT & Google OAuth 2.0
JWT_SECRET="construnexia_super_secret_jwt_key_2026_tablero"
GOOGLE_CLIENT_ID="TU_GOOGLE_CLIENT_ID.apps.googleusercontent.com"
